body {
  font-family: 'Exo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #2e304b;
  color: #fff;
}

h1,
h2,
h3,
h6 {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  color: #90C2CD;
}

h1 {
  font-size: 3rem;
}

h6 {
  color: #2e304b;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.footer-text {
  color: #2e304b;
}

.btn-primary {
  /* margin-top: 30px; */
  padding: 2% 5%;
  width: 180px;
  height: 50px;
  background-color: #fd8e8e;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.btn-primary:hover {
  padding: 2% 5%;
  background-color: hsl(0, 94%, 81%);
  border: none;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
  box-shadow: 0 0 0 0.25rem rgba(248, 153, 153, 0.5);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 153, 153, 0.5);
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
}


.btn-outline-primary {
  color: #fff;
  /* margin-top: 30px; */
  padding: 2% 5%;
  width: 180px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #fd8e8e;
  border-radius: 20px;
  font-weight: 700;
}

.btn-outline-primary:hover {
  padding: 2% 5%;
  background-color: #f89999;
  border: none;
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
  box-shadow: 0 0 0 0.25rem rgba(248, 153, 153, 0.5);
}

.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
}

.btn-check:checked+.btn-outline-primary:focus,
.btn-check:active+.btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 153, 153, 0.5);
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  color: #fff;
  background-color: #f89999;
  border-color: #f89999;
}


.btn-secondary {
  background-color: #90C2CD;
  padding: 2% 5%;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}



.btn-secondary:hover {
  padding: 2% 5%;
  background-color: #9dc6cf;
  border: none;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
  color: #fff;
  background-color: #9dc6cf;
  border-color: #9dc6cf;
  box-shadow: 0 0 0 0.25rem #80a6af;
}

.btn-check:checked+.btn-secondary,
.btn-check:active+.btn-secondary,
.btn-secondary:active,
.btn-primary.active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #9dc6cf;
  border-color: #9dc6cf;
}

.btn-check:checked+.btn-secondary:focus,
.btn-check:active+.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #80a6af;
}

.btn-secondary:disabled,
.btn-secondary.disabled {
  color: #fff;
  background-color: #80a6af;
  border-color: #80a6af;
}


.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Exo', sans-serif;
  margin: 0 5px;
}

.nav-link:hover {
  color: #90C2CD;
}

/* 
.container-pad {
margin-top: 150px;
margin-bottom: 150px;
} */

.container-raz {
  padding-bottom: 200px;
  padding-top: 200px;
}

.container-raz-home {
  padding-bottom: 200px;
  padding-top: 150px;
}


/* Sections*/
.home {
  background-color: #2e304b;
}

.portfolio {
  background-color: #f1f1f1;
  background-repeat: round;
}

/* 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin: 0;
  height: 75px;
  width: 75px;
  background-size: 80%, 80%;
  background-color: #fd8e8e;
}


.carousel-control-next-icon:after {
  font-size: 35px;
  color: #fd8e8e;
}

.carousel-control-prev-icon:after {

  font-size: 35px;
  color: #fd8e8e;
} */

/* .wave {
  position: absolute;
  width: 250px;
  right: 150px;
  margin-top: 500px;
  opacity: 1;

}

.dots {
  position: absolute;
  width: 200px;
  margin: 150px 150px;
  opacity: 1;
} */

.wave {
  position: absolute;
  width: 200px;
  right: 10px;
  margin-top: 450px;
  opacity: 1;

}

.dots {
  position: absolute;
  width: 150px;
  margin: 100px 150px;
  opacity: 1;
}


.footer-icon {
  padding-left: 10px;
  padding-right: 10px;
  color: #2e304b;
}

.home-icon {
  padding-left: 10px;
  padding-right: 10px;
  color: #90C2CD;
}


.copyright {
  color: #2e304b;
  text-decoration: none;
  font-size: 0.7rem;
}

.carousel {
  background: transparent;
}

.carousel-cell {
  width: 66%;
  height: auto;
  margin-right: 50px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  counter-increment: gallery-cell;
  opacity: 0.3;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
  opacity: 0.3;
  max-width: 50%;
}

.carousel-cell:after {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
  opacity: 0.3;
  max-width: 50%;
}

.carousel-cell.is-selected {
  background: transparent;
  z-index: 2;
  opacity: 100;
  max-width: 100%;
  height: auto;
}

.languages {
  position: block;
  background-color: #2e304b;
  margin-top: 10px;
  padding: 0.2rem;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.flickity-button {
  background-color: #2e304b;

}

.flickity-button:hover {
  background-color: #2e304b;
}

.flickity-button-icon {
  fill: #f1f1f1;
}

.flickity-prev-next-button {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

.wrapper {
  text-align: center;
}

@media (max-width: 991.98px) {
  #illustration-home {
    padding-top: 15%;
    width: 80%;
  }

  .carousel-cell {
    width: 80%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
  }

  .wave {
    width: 150px;
    margin-top: 550px;
    margin-right: 0;
  }

  .dots {
    width: 150px;
    margin: 10px 30px;
  }

}

@media (max-width: 768px) {
  #illustration-home {
    padding-top: 25%;
    width: 80%;
  }

  .container-raz {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .container-raz-home {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .logo-pad {
    padding-bottom: 50px;
  }

  .flickity-prev-next-button {
    display: none;
  }

  .is-selected {
    width: 100%;
  }

  .btn-primary {
    width: 180px;
    height: 50px;
    padding: 2% 4%;
  }

  .btn-outline-primary {
    width: 180px;
    height: 50px;
    padding: 2% 4%;
  }

}

@media only screen and (max-width: 600px) {
  .container-raz {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .container-raz-home {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .carousel-cell {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
  }

  #illustration-home {
    padding-top: 35%;
    width: 80%;
  }

  .flickity-prev-next-button {
    display: none;
  }

  .is-selected {
    width: 100%;
  }

  .logo-pad {
    padding-bottom: 50px;
  }

  .btn-primary {
    width: 160px;
    height: 50px;
  }

  .btn-outline-primary {
    width: 160px;
    height: 50px;
  }


}